@import "tachyons";

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Airbnb Cereal App', sans-serif;
	scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: radial-gradient(rgba(123,172,203,.1) 7%,transparent 0);
	background-size: 30px 30px;
	position: relative;
}

main {
	position: relative;
	min-height: 100vh;
}

.page {
	position: absolute;
	left: 0;
	right: 0;
}

.section-divider {
	position: relative;
	border: none;
	display: block;
	padding-bottom: 50px;
	margin: 0;
}

.section-divider:before {
	content: '...';
	letter-spacing: 10px;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	display: inline-block;
	text-align: center;
	top: -27px;
	font-size: 30px;
	color: #7baccb;
}

.human {
	top: 0px;
}

.circle {
	top: 50px;
	position: relative;
}

@media screen and (max-width: 959px) {
	.human {
		top: 50px;
		clip-path: circle(150px at center 100px);
	}
	.circle {
		top: 0px;
		position: relative;
	}
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #7BACCB;
    opacity: 1;
    z-index: 100;
    transition: opacity 0s linear;
}

#loading.fade {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s linear;
}

.box {
	max-width: 1024px;
}

@media screen and (max-width: 959px) {
	.box {
	  max-width: 480px !important; 
	}
	.o2 {
	  order: 2;
	}
	.o1 {
	  order: 1;
	}
}

*,
*:before,
*:after {
    box-sizing: inherit;
    user-select: none;
}

.user-select {
	user-select: text !important;
}

::selection {
	background-color: #FAEA71;
}

/* Colors */

.dark-gray {
	color: #222222;
}

.bg-dark-gray {
	background-color: #222222;
}

.blue {
	color: #7BACCB;
}

.bg-blue {
	background-color: #7BACCB;
}

.dark-blue {
	color: #1F3140;
}

.bg-dark-blue {
	background-color: #1F3140;
}

footer {
	z-index: 9;
	position: absolute;
  	width: 100%;
  	transition: all .6s linear .4s;
}

footer.fade {
	opacity: 0;
	pointer-events: none;
	transition: all .4s linear;
}

@media screen and (max-width: 959px) {
	footer,
	footer.fade {
  		transition: none;
	}
}

.fade-section {
	padding: 100px 0;
	background-color: #f4f4f4;
}

@media screen and (max-width: 959px) {
	.fade-section {
		padding: 50px 0;
	}
}

/* Nav.js */

#logo {
	width: 84px;
	height: 84px;
	background-color: #7BACCB;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
	position: relative;
	z-index: 10;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0 12px 0 0;
}

nav li {
	display: inline-block;
	margin: 0 .75rem;
	position: relative;
}

nav li a {
	text-decoration: none;
	font-weight: bold;
	color: #222222;
}

nav li::after {
	content: '';
	transform: scaleX(0);
	transform-origin: right center;
	width: calc(100% - 2px);
	height: 4px;
	background-color: #7BACCB;
	position: absolute;
	bottom: -8px;
	left: 0;
	transition: transform .5s cubic-bezier(.19,1,.22,1);
}

nav li:hover::after,
nav li.active::after {
	transform: scaleX(1);
	transform-origin: left center;
}

@media screen and (min-height: 700px) {
  nav {
	flex-direction: column;
	justify-content: center;
	margin-bottom: 100px;
  }

  nav ul {
  	margin: 40px 0 0 0;
  }
}

@media screen and (max-width: 959px) {
  nav {
	flex-direction: row !important;
	justify-content: space-between !important;
	margin-bottom: 0px !important;
  }

  nav ul {
  	margin: 0 12px 0 0 !important;
  }

  #logo {
	width: 64px;
	height: 64px;
  }

  #logo img {
  	width: 30px;
  }
}

.panel {
	z-index: 8;
}

.panel ul {
	margin: 60px 0 0 0 !important;
}

.panel li {
	display: table;
	margin: 0 auto 36px;
	transform: translateY(25px);
    opacity: 0;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}

@media screen and (max-height: 550px) {
	.panel li {
		display: inline-block;
		margin: 12px;
	}
}

.panel.set li {
    transform: translateY(0px);
    opacity: 1;
    transition-duration: 0;
}

.panel li a {
	color: white;
}

.panel li:after {
	content: '';
	transform: scaleX(0);
	transform-origin: right center;
	width: calc(100% - 2px);
	height: 4px;
	background-color: #1F3140;
	position: absolute;
	bottom: -8px;
	left: 0;
	transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.panel.set li:nth-child(1) {
    transition-delay: .1s;
}
.panel.set li:nth-child(2) {
    transition-delay: .2s;
}
.panel.set li:nth-child(3) {
    transition-delay: .3s;
}
.panel.set li:nth-child(4) {
    transition-delay: .4s;
}
.panel.set li:nth-child(5) {
    transition-delay: .5s;
}
.panel.set li:nth-child(6) {
    transition-delay: .6s;
}

/* Typography */

.pre-wrap {
	white-space: pre-wrap;
}

.f12 {
	font-size: .75rem;
}

.f14 {
	font-size: 14px;
}

.ls1 {
	letter-spacing: 1px;
}

.ls2 {
	letter-spacing: 2px;
}

.faded {
	color: #818789;
	font-weight: 500;
}

.small-title {
	font-size: 14px;
	letter-spacing: 2px;
	color: #30638D;
	text-transform: uppercase;
	font-weight: bold;
}

.small-link {
	color: #7BACCB !important;
}

.button {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	letter-spacing: 2px;
	color: #274873;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 16px 24px;
	border: 3px solid #274873;
	transition: all .4s linear;
	position: relative;
	z-index: 1;
}

.button::before {
	content: '';
	width: 100%;
	height: calc(100% + 2px);
	display: block;
	position: absolute;
	background-color: #274873;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: right center;
	transition: transform .5s cubic-bezier(.19,1,.22,1);
	z-index: -1;
}

.button:hover {
	color: #fff;
}

.button:hover::before {
	transform: scaleX(1);
	transform-origin: left center;
}

.square:after {
  	content: "";
  	display: block;
  	padding-bottom: 100%;
}

.title-links {
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.title-links::after {
	content: '';
	width: 100%;
	height: 2px;
	display: block;
	position: absolute;
	background-color: black;
	bottom: 15px;
	left: 0;
	transform: scaleX(0);
	transform-origin: right center;
	transition: transform .5s cubic-bezier(.19,1,.22,1);
}
.title-links:hover::after {
	transform: scaleX(1);
	transform-origin: left center;
}

@media screen and (max-width: 959px) {
	.title-links {
		text-decoration: underline;
		text-decoration-color: black;
	}
	.title-links::after {
		display: none;
	}
}

/* Margin */

.mv40 {
	margin: 40px 0;
}

.mt40 {
	margin-top: 40px;
}

.mb40 {
	margin-bottom: 40px;
}

.mv50 {
	margin: 50px 0;
}

.mt50 {
	margin-top: 50px;
}

.mb50 {
	margin-bottom: 50px;
}

.mv100 {
	margin: 100px 0;
}

.mt100 {
	margin-top: 100px;
}

.mb100 {
	margin-bottom: 100px;
}

@media screen and (max-width: 959px) {
	.mv100 {
		margin: 50px 0;
	}

	.mt100 {
		margin-top: 50px;
	}

	.mb100 {
		margin-bottom: 50px;
	}

}

.mwh400 {
	max-width: 400px;
	max-height: 400px;
}

.mwh320 {
	max-width: 320px;
	max-height: 320px;
}

/* Home */

.circle {
	width: 300px;
	height: 300px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 400;
font-display: swap;
src: local('Airbnb Cereal App Book'), url('./css/fonts/AirbnbCerealBook.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 300;
font-display: swap;
src: local('Airbnb Cereal App Light'), url('./css/fonts/AirbnbCerealLight.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 500;
font-display: swap;
src: local('Airbnb Cereal App Medium'), url('./css/fonts/AirbnbCerealMedium.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 700;
font-display: swap;
src: local('Airbnb Cereal App Bold'), url('./css/fonts/AirbnbCerealBold.woff') format('woff');
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fff; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


.slick-dots li {
	margin: 0 !important;
}
.slick-active button:before {
	font-size: 10px !important;
	top: 1px !important;
	position: absolute;
	color: #1b6492 !important;
}

.slick-arrow {
	z-index: 1;
	background: #7BACCB;
	width: 64px;
	height: 64px;
	transition: all .4s linear;
}

.fslightbox-slide-btn {
	padding: 22px !important;
	background: #7BACCB !important;
}

.slick-arrow:hover {
	background: #7BACCB;
	opacity: .8;
}

.slick-next:before {
	font-family: "Material Icons"; 
	content: "arrow_forward";
	font-size: 30px;
	color: #ffffff;
	-webkit-font-feature-settings: 'liga';

}

.slick-prev:before {
	font-family: "Material Icons"; 
	content: "arrow_back";
	font-size: 30px;
	color: #ffffff;
	-webkit-font-feature-settings: 'liga';

}

@media screen and (max-width: 959px) {
	.fslightbox-slide-btn {
		padding: 14px !important;
		background: #7BACCB !important;
	}
	.slick-arrow {
		width: 48px;
		height: 48px;
	}
	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}
}